:root{
    background-color:gray;
    }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 80rem;
    margin: 0 auto;
    }
#homepage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    margin-top: auto;
}
button{
    display: inline-block;
    background-color: blueviolet;
    border-radius: 10px;
    border: 3px double whitesmoke;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    margin-top: 3px;
  }
button:hover{
    box-shadow: 4px 3px 6px blueviolet;
}
#question-container{
    display: none;
}
#timer-container{
    color: white;
    font-size: x-large;
    text-shadow: .5px .5px black;
    text-align: center;
}
p{
    color: black;
    text-align: center;
    font-size: xx-large;

}

#gameoverpage-container{
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}
#finalscore-container{
    padding-bottom: 0.5rem;
    font-size: x-large;
    font-weight: bold;
}
input{
    text-align: center;
}
#initials{
    margin: .5rem;
    height: 1.75rem;
}
#highScore{
    height: 1.5rem;
    border: groove 2px;
}
#highscore-container{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#highscorepage-container{
    display: none;
    width: 50%;
    border: solid;
    border-color: silver;
    border-bottom-style: groove;
    padding-bottom: .3rem;
    background: lightsteelblue;
}
#highscorepageheader-container{
    display:flex;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
    background-color: blueviolet;
    color: white;
   
}
#highscorepageinitials-container{
    display: inline-block;
    padding-left: 9.5rem;
    font-weight: bold;
}
#highscorepagescore-conatiner{
    float: right;
    padding-right: 8.75rem;
    font-weight: bold;
}
#endgame-btn{
    display: none;
}
li{
    padding-bottom: 3px;
    color: white;
    text-shadow: 1.5px 1px 3px black;
    list-style-type: none;
}













